/waterlock/firmware2/waterlock.X/nbproject/private/
/waterlock/firmware2/waterlock.X/build/compilation/
/waterlock/firmware2/waterlock.X/dist/compilation/
/waterlock/firmware2/waterlock.X/build/production/
/waterlock/firmware2/waterlock.X/dist/production/
/waterlock/firmware2/waterlock.X/dist/
/waterlock/firmware2/waterlock.X/build/